/* CSS Document */
.mainBackgroundColor{
	background-color: white !important;
}

/* Flip Logo Text */
span.flip_text{
	display: inline-block; 
}
.flip_text{ 
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

/* Changing color of Jumbo in Index Page */
.jumbotronWhiteColor {
    background-color: #50baec;
	margin-bottom: 0px;
}

/* Style of Logo */
.logoStyle{
	font-weight: bold; 
	border-radius: 10px;
	color: white;
}

/* Yellow Color Text */
.yellowColorText{
	color: rgb(255, 205, 59);
}

/* White Color Text */
.whiteColorBackground{
	background: white;
}

/* Responsive Text Size */
.responsiveTextSize{
	font-size: 5vw;
}
.disableHover a:hover{
	text-decoration:none;
}
.disableHover a #mraPart:hover{
	color: rgb(255, 205, 59);
}

/* Top Logo Styles */
.logoStyleTopLogo{
	font-weight: bold;
}
.disableHoverTopLogo a span:hover{
	color: rgb(255, 205, 59);
}


/* Size of Jumbotron when Fixed header */
@media (min-width: 1px){
	body {
    	padding-top: 3rem;
	}
}
.jumbotronBoarderHead{
	border-bottom: 1px solid;
}
.jumbotronBoarderFooter{
	border-top: 1px solid;
}

/* div Main Container style */
.mainContainer{
	background-color: white; 
	min-height: 1000px;
}

.showBoarder{
	border: 1px solid black;
	border-radius: 15px;
}

.CommentsStyle{
	margin: 4px;
	border: 0.4px solid black;
	border-radius: 15px;
	box-shadow: -3px -3px 2px 0px #635f5f;
}

.showBoarderWithNoRadious{
	border: 1px solid black;
	border-radius: 0px;
}

.boldText{
	font-weight: bold;
}

.whiteTextWithBlackBackground{
	background: black;
	color: white;
}

.marginTopBottomByTen {
	margin-top: 10px;
	margin-bottom: 10px;
}

.marginAllSidesByTen{
	margin: 10px;
}

.marginAllSidesByTwenty{
	margin: 20px;
}

.marginTopBottomByTenAndSides{
	margin-top: 10px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 10px;
}

.marginTopByFive{
	margin-top: 5px;
}
.eachMainPostUpperBottom{
	margin-top: 10px;
	margin-bottom: 10px;
}

.lightBlueBackground{
	background: #f0fdff;
}

.imageStyleOfPosts{
    margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
}

.reponsiveTextSizeMaxTwentyTwo {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .reponsiveTextSizeMaxTwentyTwo {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .reponsiveTextSizeMaxTwentyTwo {
    font-size: 22px;
  }
}

.reponsiveTextSizeMaxSixteen  {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .reponsiveTextSizeMaxSixteen {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .reponsiveTextSizeMaxSixteen {
    font-size: 16px;
  }
}

.justifiedParagraph{
	text-align: justify;
	font: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.alignLeft{
	 text-align: left;
}

.alignRight{
	text-align: right;
}

.alignTextToLeft{
	text-align: left;
}

.boarderShadow{
	box-shadow: 3px 4px 2px #635f5f;
}

.lineHorizontalWithBlackColor {
	background: black;
	height: 1px;
	margin-left: 20%;
	margin-right: 20%;
}

.radiusOfBoarder{
	border-radius: 20px;
}
